# Visual Studio / .NET
**/bin/
**/obj/
**/Log/
**/Logs/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Node.js / Vite
**/node_modules/
**/dist/
**/dist-ssr/
*.local

# Environment & Settings
local.settings.json.bak
.env
.env.local
.DS_Store
Thumbs.db
